.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "step1 step3"
    "step2 step3";
  align-items: start;
  align-content: start;
  /* padding-top: 56.25%; */
  overflow: auto;
}
@media (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "step1"
      "step2"
      "step3";
  }
}

.step1 {
  grid-area: step1;
}
.step2 {
  grid-area: step2;
}
.step3 {
  grid-area: step3;
}
.header {
  grid-area: header;
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
  width: 100%;
  height: 70px;
  left: 0px;
  top: 0px;
  background: #262626;
}

.title_icon {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 35px;
  top: 23px;
}

.title {
  position: absolute;
  left: 69px;
  top: 21px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.myField {
  padding: 50px 55px 0px;
  /* margin: 30px; */
}

.step_title {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #000000;
}

.text_response {
  position: relative;
  top: 37px;
  flex-shrink: 0;
  /* padding-left: 15px; */
  color: red;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text_response:empty {
  display: none;
}

#fileBox {
  position: relative;
  top: 13px;
  border-radius: 10px;
  border: 3px dashed #a5a5a5;
  background: #f5f5f5;
  width: 100%;
  height: 200px;
  flex-shrink: 0;
}

.drag_drop {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  line-height: 200%;
}

.child {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#numInput {
  position: relative;
  top: 37px;
  border-radius: 10px;
  border: 3px solid #262626;
  background: #fff;
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  padding-left: 15px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fileButton {
  margin: 10px 0px;
  border-radius: 10px;
  background: #262626;
  width: 200px;
  height: 40px;
  flex-shrink: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.hidden {
  cursor: pointer;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  -moz-opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

#fileSystem:required:valid .fileButton {
  /* condition need to be fixed after removing img upload at part 1*/
  display: none;
}

#submitButton {
  position: relative;
  top: 25px;
  border-radius: 10px;
  background: #262626;
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 1;
  pointer-events: auto;
  transition: 0.2s;
  cursor: pointer;
}

#submitButton:disabled {
  /* condition need to be fixed after removing img upload at part 1*/
  opacity: 0.4;
  pointer-events: none;
}

.inst_class {
  position: relative;
  top: 13px;
  width: 100%;
  height: 50px;
  flex-shrink: 0;
}

.inst_text {
  position: relative;
  top: 13px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inst_num {
  border-radius: 10px;
  border: 2px solid #262626;
  background: #fff;
  width: 55px;
  height: 30px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  position: relative;
  left: -122.5px;
}

.gallery {
  position: relative;
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "result1 result2"
    "result3 result4";
  align-items: start;
  align-content: start;
  overflow: auto;
}

.result1 {
  grid-area: result1;
  clip-path: rect();
}

.mask {
  position: relative;
  mask-image: url(assets/imageframe.png);
  mask-size: 100%;
}

.pagination {
  text-align: center;
}

.wordSpan {
  margin: 2px;
}

#predResult {
  padding: 1px;
}
